- if mode == 'edit' 
    - form_path = "/ideas/#{ idea.id }/edit"
- else 
    - form_path = "/ideas" 

%form.ideaBoxForm{role: 'form', action: "#{form_path}", method: 'POST'}
    - if mode == 'edit'
        %input{type: 'hidden', name: '_method', value: 'PUT'}
        %input{type: 'hidden', name: 'idea[likes]', value: "#{idea.likes}"}

    .form-group
        %label Title :
        %input.form-control{type: 'text', value: "#{idea.title}", name: 'idea[title]'}

    .form-group
        %label Description :
        %textarea.form-control{name: 'idea[description]', rows: '5', cols: '40'} 
            = idea.description

    .form-group
        %label 
            Group : ( 
            %a{href: '/groups/new'} New group ?
            )
        %select.form-control{name: 'idea[group]', required: 'true'}
            - groups.each do |group|
                %option{value: "#{group}"} 
                    = group

    .form-group
        %label Tags
        %input.form-control{type: 'text', value: "#{ idea.tags.join(", ")}", name: 'idea[tags]'}

    %button.btn.btn-default{type: 'submit'} Submit
