<form role = 'form' class = 'ideaBoxForm' action = '/<%= id.to_s + "/edit" if mode == "edit" %>' method = 'POST'>
	<% if mode == 'edit' %>
		<input type = 'hidden' name = '_method' value = 'PUT'/>
		<input type = 'hidden' name = 'idea[likes]' value = '<%= idea.likes %>'/>
	<% end %>
	<div class = 'form-group'>
		<label>Title : </label>
		<input type = 'text'  value = '<%= idea.title %>' class = 'form-control' name = 'idea[title]'/>
	</div>
	<div class = 'form-group'>
		<label>Description : </label>
		<textarea  name = 'idea[description]' class = 'form-control' rows = '5' cols = '40'><%= idea.description %></textarea>
	</div>
	<div class = 'form-group'>
		<label>Group : ( <a href = '/group/new'>New group ?</a> )</label>
		<select name = 'idea[group]' class = 'form-control' required = 'true'>
			<% groups.each do |group| %>
				<option value = '<%= group %>'><%= group %></option>
			<% end %>
		</select>
	</div>
	<div class = 'form-group'>
		<label>Tags : </label>
		<input type = 'text' value = '<%= idea.tags.join(", ") %>' class = 'form-control' name = 'idea[tags]'/>
	</div>
	<button class = 'btn btn-default' type = 'submit'> Submit </button>
</form>
