<div class = 'row'>
	<div class = 'col-md-12'>
		<div class = 'page-header'>
			<h3><%= idea.title %></h3>
			<p><%= idea.description %> </p>
			<p> <span class = 'lead'> Tags :</span> 
				<% idea.tags.each do |tag| %>
					<a href = '/ideas/<%= tag %>'><%= tag %></a>
				<% end %>
			</p>
			<a href = '/idea/<%= idea.id %>'> Details </a>
			<a href = '/<%= idea.id %>/edit'>Edit</a>
			<a href = '#' onClick = "document.getElementById('deleteForm<%= idea.id %>').submit();">Remove</a>
			<a href = '/<%= idea.id %>/like'>Like <span class = 'badge'><%= idea.likes %></span></a>
	
		</div>
	</div>
</div>
<div class = 'row'>

	<div class = 'col-md-12'>
		<p class = 'lead'> History </p>
		<% idea.history.each do |rev| %>

			<div class = 'idea'>
				<div class = 'ideaHeading'>
					<%= rev["title"] %>
				</div>
				<div class = 'ideaDescription'>
					<%= rev["description"] %>
				</div>
			</div>
		<% end %>
	</div>
</div>
